<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}

    <!-- main header -->
    <div class = 'container-fluid main-header'>
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/myself.png" height="300px" width="300px" alt="about" class="img-fluid" title="about"> 
                        </figure>
                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>welcome to Weather App</p>
                        <h1>I am a <span class="text-color">mern stack developer</span> like to develop new webapplications.
                        <div><p><h2 >click below to know about MERN stack....</h2 ></p></div>                       
                        </h1>
                        <button><a href="https://www.geeksforgeeks.org/mern-stack/" target="mern">MERN STACK</a></button>
                    </div>
                    
                    
        
                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->

    {{>footer}}
</body>
</html>